body{
margin:0;
padding: 0;
background-color: #000;

}
.slide
{
	margin-top:20px;
	width:700px;
	height: 500px;
	background-image:url(IMG-20190922-WA0036.jpg);
background-size:cover;
	background-repeat:no-repeat;
	margin:   auto;
	animation: animate 15s infinite;
	
}
@media (max-width:768px){
	.slide{
		
		width:100%;
		margin-right: 0;
		height:400px;
	}
	
}

@keyframes animate{
	
	25%{
		
		background-image:url(IMG-20190922-WA0035.jpg);
	}
	50%{
		
		background-image:url(IMG-20190922-WA0050.jpg);
	}
	
	75%{
		
		background-image:url(IMG-20190922-WA0036.jpg);
	}
	
	100%{
		
		background-image:url(IMG-20190922-WA0032.jpg);
	}
	
	
	
	
	
	
}